# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

## TeX
*.aux
*.log
*.bbl
*.toc
*.blg
*eps-converted-to.pdf
*.lof
*.lot

## Matlab
*.asv
*.autosave
*_RUN.mexw64
*_RUN.m
*_acadodata_*

## C++
build/
*.cmake